<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <app-header></app-header>

    <!-- <h2>Tipologiche</h2>
    <ul class="list-group">
      <li *ngFor="let tipologie of tipologiche" class="list-group-item">
        {{ tipologie }}
      </li>
    </ul> -->

    <app-card
      [restaurant]="restaurant"
      *ngFor="let restaurant of restaurants"
      class="list-group-item"
    ></app-card>

    <div class="card flex justify-content-center">
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rows]="rows"
        [totalRecords]="120"
        [rowsPerPageOptions]="[10, 20, 30]"
      ></p-paginator>
    </div>
  </body>
</html>
